html body {
    background-color: #0a0e31;
}

* {
    color: white;
}

body button {
    color: black;
}

.container {
    margin: auto;
    width: 400px;
    height: 600px;
    padding: 10px 25px;
    background: #0a0e31;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
}

.durationslider {
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    
}

.buttoncolor {
    color: black;
}